* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Italianno", cursive;
    background-color: #f2eee6;


}

.head-button {
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-size: 18px;
}

.head-button:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition-duration: 300ms;

}


.gallery {
    color: #2f2f2f;
    text-align: center;
    padding: 60px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.gallery-content {
    width: 80%;
    margin-bottom: 60px;
    padding: 20px;
    border-bottom: 1px solid black;
}

.gallery-content h1 {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 10px;


}

.gallery-content p {
    font-size: 32px;
}

.gallery-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    cursor: pointer;
}

.gallery-imgs img {

    width: 150px;
    height: 300px;
    object-fit: cover;
    flex-grow: 1;
    flex-basis: 20%;
}